%h1 Testujemy
%button{class: "big blue button"} Order Now
%button{class: "submit"} Order Now
%button{class: "alert button"} Order Now
%button{class: "alert button"} Order Now
= render partial: 'kol', collection: @kols, spacer_template: "product_ruler"
