-# add navigation links to this file
%li= link_to 'Test partial', colekcja_path
%li
  %a{href: "http://www.rubydoc.info/gems/foundation-rails/6.4.1.3"} Zurb Fundation
%li= link_to 'About', page_path('about')
%li= link_to 'Contact', page_path('contact')
